<title>天大工会活动管理系统  首页</title>
<div id="window">
  <div id="branddiv">
    <img src="../../assets/imgs/brand.jpg" id="brand">
  </div>
  <div id="navbar">
    <ul>
        <li><a href="/manager/managerhome">用户管理</a></li>
        <li><a href="/manager/manageractivity">活动管理</a></li>
        <li><a href="/manager/managerapply">活动申办批准</a></li>
        <li><a href="/manager/release">发布公告</a></li>
    </ul>
  </div>
  <div id="content">
      <div id="noticecontent">
        <div id="sitebar">
          <ul>
            <li>当前位置:</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/manager/manageractivity">活动管理</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
          </ul>
        </div>
        <br><br>
        <div id="noticething">
          <div>
            <table>
              <tr *ngFor="let person of persons">
                <td>{{person.pid}}</td><td>{{person.name}}</td><td><button class="btn btn-sm btn-danger">驳回</button></td>
              </tr>
            </table>
            <br>
            <div id="pagediv">
              <button id="frontbtn" class="btn btn-sm btn-success">&#60;&nbsp;&nbsp;上一页</button>
              <p>第1/10页&nbsp;&nbsp;&nbsp;&nbsp;共47条</p>
              <button id="backbtn" class="btn btn-sm btn-success">下一页&nbsp;&nbsp;&#62;</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div id="bottombar">版权所有：天津大学工会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：卫津路92号 | 邮编：300072</div>