<title>天大工会活动管理系统  首页</title>
<div id="window">
    <app-brandandnav></app-brandandnav>
  <div id="content">
      <div id="lunbocontent">
        <h1 id="lunbotitle">活动速递</h1>
        <div id="lunbothing">
          <ngb-carousel id="carousel" *ngIf="images">
              <ng-template ngbSlide>
                <img [src]="images[0]" alt="Random first slide">
                <div class="carousel-caption">
                  <h3>座谈会</h3>
                  <p></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[1]" alt="Random second slide">
                <div class="carousel-caption">
                  <h3>化工</h3>
                  <p></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[2]"  alt="Random third slide">
                <div class="carousel-caption">
                  <h3>法律讲堂</h3>
                  <p></p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[3]" alt="Random fourth slide">
                <div class="carousel-caption">
                  <h3>学术沙龙</h3>
                  <p></p>
                </div>
              </ng-template>
            </ngb-carousel>
        </div>
        <app-friend></app-friend>
      </div>
      <div id="noticecontent">
        <div id="sitebar">
          <ul>
            <li>当前位置:</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/host">活动申办</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
          </ul>
        </div>
        <div id="noticething">
          <h2 id="title">活动举办申请</h2>
          <br>
          <form>
            <label>活动名称</label><input #name ><br><br>
            <label>主办方</label><input #sponsor ><br><br>
            <label>活动开始时间</label><input #begintime type="datetime-local" ><br><br>
            <label>活动时长</label><input #length placeholder="不得超过24小时"><br><br> 
            <label>容纳人数</label><input #needp placeholder="人数限制1~500"><br><br>
            <label>所需经费</label><input #money placeholder="最高10000元"><br><br>
            <label>活动描述</label><input #introduce placeholder="不得为空且不能超过200字">
          </form>
          <br>
          <button class="btn btn-sm btn-success" id="btnin" (click)="create(name.value,sponsor.value,begintime.value,length.value,needp.value,money.value,introduce.value);name.value='';sponsor.value='';begintime.value='';length.value='';needp.value='';money.value='';introduce.value='';">确认申办</button>
        </div>
      </div>
  </div>
  <div id="bottombar">版权所有：天津大学工会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：卫津路92号 | 邮编：300072</div>
