<title>天大工会活动管理系统  首页</title>
<div id="window">
  <div id="branddiv">
    <img src="../../assets/imgs/brand.jpg" id="brand">
  </div>
  <div id="navbar">
    <ul>
      <li><a href="/user/homepage">通知公告</a></li>
      <li><a href="/user/activity">活动报名</a></li>
      <li><a href="/user/host">活动申办</a></li>
      <li><a href="/user/connect">联系我们</a></li>
      <li><a href='/user/myhome'>个人中心</a></li>
    </ul>
  </div>
  <div id="content">
      <div id="lunbocontent">
        <h1 id="lunbotitle">活动速递</h1>
        <div id="lunbothing">
          <ngb-carousel id="carousel" *ngIf="images">
              <ng-template ngbSlide>
                <img [src]="images[0]" alt="Random first slide">
                <div class="carousel-caption">
                  <h3>10 seconds between slides...</h3>
                  <p>This carousel uses customized default values.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[1]" alt="Random second slide">
                <div class="carousel-caption">
                  <h3>No mouse events...</h3>
                  <p>This carousel doesn't pause or resume on mouse events</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[2]"  alt="Random third slide">
                <div class="carousel-caption">
                  <h3>No keyboard...</h3>
                  <p>This carousel uses customized default values.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[3]" alt="Random fourth slide">
                <div class="carousel-caption">
                  <h3>And no wrap after last slide.</h3>
                  <p>This carousel uses customized default values.</p>
                </div>
              </ng-template>
            </ngb-carousel>
        </div>
      </div>
      <div id="noticecontent">
        <div id="sitebar">
          <ul>
            <li>当前位置:</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/homepage">通知公告</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
          </ul>
        </div>
        <div id="noticething">
          <ul>
            <li *ngFor="let notice of notices">
              <a href="/user/show/{{notice.nid}}"><div><span class="front">{{notice.title}}</span><span class="back">{{notice.date}}</span><br></div></a>
              <span>--------------------------------------------------------------------------</span>
            </li>
          </ul>
          <div id="pagediv">
            <button id="frontbtn" class="btn btn-sm btn-success">&#60;&nbsp;&nbsp;上一页</button>
            <p>第1/20页&nbsp;&nbsp;&nbsp;&nbsp;共167条</p>
            <button id="backbtn" class="btn btn-sm btn-success">下一页&nbsp;&nbsp;&#62;</button>
          </div>
        </div>
      </div>
  </div>
  <div id="bottombar">版权所有：天津大学工会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：卫津路92号 | 邮编：300072</div>
