<title>天大工会活动管理系统  首页</title>
<div id="window">
    <app-managerbrandandnav></app-managerbrandandnav>
  <div id="content">
    <div id="selectbar">
      <ul>
        <li><a (click)="changetomanage()">已注册用户管理</a></li>
        <li><a (click)="changetocreate()">全部用户管理</a></li>
      </ul>
    </div>
    <div id="noticecontent" *ngIf="ismanage">
      <div id="sitebar">
        <ul>
          <li>当前位置:</li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/manager/managerhome">用户管理</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;已注册用户管理</li>
        </ul>
      </div>
      <br><br>
      <div id="noticething">
        <table>
          <tr>
            <th>用户id</th><th>姓名</th><th>身份证号</th><th>手机号</th><th>性别</th><th>举办活动数</th><th>参加活动数</th><th></th>
          </tr>
          <tr *ngFor="let person of persons">
            <td><a href="/manager/managerhome/managerperson/{{person.uid}}">{{person.uid}}</a></td><td><a href="/manager/managerhome/managerperson/{{person.uid}}">{{person.name}}</a></td><td>{{person.card}}</td><td>{{person.phone}}</td><td *ngIf="person.gender">男</td><td *ngIf="!person.gender">女</td><td>{{person.hostnum}}</td><td>{{person.applynum}}</td><td><button class="btn btn-sm btn-success" id="btnlog" (click)="delete(person.uid)">删除用户</button></td>
          </tr>
        </table>
        <div id="pagediv">
          <button id="frontbtn" class="btn btn-sm btn-success" (click)="prep()">&#60;&nbsp;&nbsp;上一页</button>&nbsp;&nbsp;
          <p>第{{ppage}}/{{ppages}}页&nbsp;&nbsp;&nbsp;&nbsp;共{{pnum}}条</p>&nbsp;&nbsp;
          <button id="backbtn" class="btn btn-sm btn-success" (click)="nextp()">下一页&nbsp;&nbsp;&#62;</button>
        </div>
      </div>
    </div>
    <div id="noticecontent" *ngIf="!ismanage">
      <div id="sitebar">
        <ul>
          <li>当前位置:</li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/manager/managerhome">用户管理</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;全部用户管理</li>
        </ul>
      </div>
      <br><br>
      <div id="noticething">
        <table>
          <tr>
            <th>用户id(工号)</th><th>身份证号</th><th>是否已注册</th><th>删除用户</th>
          </tr>
          <tr *ngFor="let t of teachers">
            <td>{{t.tid}}</td><td>{{t.card}}</td><td *ngIf="t.isreg === true">已注册</td><td *ngIf="t.isreg === false">未注册</td><td><button class="btn btn-sm btn-success" id="btnlog" (click)="deletet(t.tid)">删除用户</button></td>
          </tr>
        </table>
        <div id="pagediv">
          <button id="frontbtn" class="btn btn-sm btn-success" (click)="pret()">&#60;&nbsp;&nbsp;上一页</button>&nbsp;&nbsp;
          <p>第{{tpage}}/{{tpages}}页&nbsp;&nbsp;&nbsp;&nbsp;共{{tnum}}条</p>&nbsp;&nbsp;
          <button id="backbtn" class="btn btn-sm btn-success" (click)="nextt()">下一页&nbsp;&nbsp;&#62;</button>
        </div>
        <div id="addteacher">
          <form>
            <label>用户id(工号)</label><input #tid type="text"> &nbsp;&nbsp;
            <label>身份证号</label><input #idNumber type="text">  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-sm btn-success" id="btnin" (click)="addt(tid.value, idNumber.value);tid.value='';idNumber.value='';">添加用户</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="bottombar">版权所有：天津大学工会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：卫津路92号 | 邮编：300072</div>
